
.home-header {
    height: 50px;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.home-header > img {
    width: 20px;
}

.options-container {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 10px;
}

.options-container > :first-child {
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
}

.search-input {
    width: 100%;
    border-radius: 50px;
    padding: 10px;
    border: none;
    background-color: #f1f1f1;
    margin: 15px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    position: relative;
}

.search-container > button {
    background-color: unset;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 30px;
}

.logos-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.logos-container {
    display: flex;
    gap: 10px;
}

.logos-container > img {
    width: 20px;

}

.menu-hamburger {
    display: none;
}

.menu-container.hidden {
    display: none;
}

.menu-container.visible {
    width: 200px;
    height: 400px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 80px;
}